$navbar-bg: #091336;
$navbar-link-color: rgba(255, 255, 255, 0.6);
$navbar-link-color-active: white;
$navbar-link-bg-active: rgba(216, 228, 251, 0.32);

$sf-pro-display: "SF Pro Display";

$color-success: #28a879;
$color-warning: #ffd500;
$color-danger: #ea1a4f;
$color-primary: #005ff8;
$color-secondary: #5e7793;
